.center{
    margin: auto;
    text-align: center;
}

html{
    scroll-behavior: smooth;
}

.invisible{
    display: none;
}

body{
    background-image: url(./fundo.png);
}

#conteúdo{
    scroll-behavior: smooth;
}

hr{
    color: black;
}

.container-fluid{
    background-color: rgb(255, 255, 255,0.7);
    padding: 0;
}

.image{
    padding: 10px;
    width: 80%;
}

.btn-separator:after {
    content: '';
    display: block;
    background: #d8d8d8;
    height: 100%;
    width: 1px;
}

#botao-voltar-topo{
    display: none;
    position: fixed;
    bottom: 5%;
    right: 5%;
    height: 50px;
    z-index: 99;
    cursor: pointer;
    padding: 10px;
    font-size: large;
}

.two-columns{
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.left{
    text-align: left;
}

/* cores das seções */
#teste1{
    background-color: rgba(99, 0, 82, 0.5);
    color: rgb(49, 0, 42);
}

#teste2{
    background-color: rgba(171, 0, 36, 0.5);
    color: rgb(40, 0, 16);
}

#teste3{
    background-color: rgba(171, 104, 0, 0.5);
    color: rgb(40, 0, 16);
}


/* mudanças do Bootstrap */ 
.panel-group{
    width: 100%;
}

.btn{
    margin: 0;
}

.dropdown-menu{
    width: fit-content;
    background-color: rgb(236, 236, 236);
}

.dropdown-menu > a{
    text-align: right;
}

button h2:after,button h3:after, button h4:after{
    content: "▼";
    float: right;
}

.card-header button{
    padding: 3px;
}

.carousel-control-prev,.carousel-control-next{
    background-color: black;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    top: 40%;
}

.carousel-control-prev-icon,.carousel-control-next-icon{
    width: 30px;
    height: 30px;
}

* > .accordion > *{
    /* accordion usado em classe pra que todos os acordeons, independentemente do ID, recebam a cor da seção de onde estão, aí não precisa fazer ID por ID herdar as cores */
    background-color: inherit;
    color: inherit;
}

/* TEXTO */
/*** diagramação ***/
.justified:not(h1){
    text-align: justify;
    text-align-last: center;
}

.container-fluid > #conteúdo{
    padding: 0px;
}

#header{
    width: 100%;
}

.conteúdo{
    padding: 20px;
    font-family: Calibri;
    font-weight: 300;
    font-size: 18px;
    margin: 0 auto;
}

/*** fontes ***/
@font-face{
    font-family: Comfortaa;
    src: url(./comfortaa-variablefont_wght-webfont.woff2);
}

a:not(.card-body a){
    color: black;
    text-decoration: none;
}

.conteúdo a{
    color: black;
    font-weight: 600;
    text-decoration: underline;
}

b{ font-weight: 600; }

h1,h2,h3,h4,p{ 
    font-family: Calibri;
}

h1,h2,h3,h4{ font-weight: 600;line-height: 135%;}

h1{ 
    font-size: 1.2rem;
    margin-top: .5rem;
}

h2,h3,h4{ font-size: 1rem;}

p,li{
    font-size: 1rem;
    line-height: 130%;
}

.conteúdo > h1, .conteúdo > h2,.conteúdo > h3{
    margin: 20px 20px;
}

.conteúdo > h1{
    font-family: Comfortaa;
    font-size: 1.9rem;
    text-align: center;
}

.conteúdo > h2{
    font-size: 1.4rem;
}

.conteúdo > h3{
    font-size: 1.1rem;
}

.card-header > * > h2,.card-header > * > h3,.card-header > * > h4{
    text-align: center;
}

/* resto */
ul{
    display: inline-block;
    text-align: left;
    text-align-last: left;
}

li{
    text-align: left;
    text-align-last: left;
}

@media only screen and (max-width: 768px) {
    /* Pequenos celulares */
    .celular{
        width: 100%;
        display: inline;
    }

    h1{
        font-size: 1.5rem;
    }

    p,li{
        font-size: 0.9rem;
    }

    .container-fluid{
        padding: 0;
    }
}

@media only screen and (min-width: 900px) {
  /* Computadores */
  .container-fluid{
    width: 950px;
  }

}